body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 10px;
}
.graphics-containers {
    display: flex;
    width: 100vw;
}
.log-container {
    order: 1;
    width: 500px;
    height: 500px;
    background-color: lightgray;
    padding-top: 2px;
    overflow: auto; /* only show scrollbars if content overflows */
}
.log-item {
    border-radius: 10px;
    margin: 2px 2px 0 2px;
    padding: 7px;
    background-color: #c6edff;

    display: flex;
    align-items: center; /* vertical centering */
    gap: 6px;
}
.log-message {
    flex: 1; /* take remaining space */
    word-break: break-word;
    line-height: 1.4;
}
pre.log-data {
    background-color: lightgray;
    max-height: 200px;
    overflow: auto; /* only show scrollbars if content overflows */
    display: none;
}
.log-item img.image {
    max-width: 100px;
    display: none;
}
span.log-datetime {
    font-size: 9px;
    white-space: nowrap; /* prevents wrapping */
}
.fsm-chart {
    display: inline-block;
    order: 2;
    border: 1px solid black;
    width: 50%;
    max-width: 50%;
    height: auto;
}
