body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 10px;
}
.main-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.log-container {
    order: 0;
    width: 500px;
    height: 500px;
    background-color: lightgray;
    padding-top: 2px;
    overflow: auto; /* only show scrollbars if content overflows */
}
.graphics-containers {
    order: 1;
    display: flex;
    width: 100vw;
    flex: 1; /* take remaining width */
    min-width: 0; /* prevents overflow issues in flex layouts */
}
.log-item {
    border-radius: 10px;
    margin: 2px 2px 0 2px;
    padding: 7px;
    background-color: #c6edff;

    display: flex;
    flex-direction: column; /* stack rows */
}
.log-header {
    display: flex;
    align-items: center; /* vertically */
}
.log-message {
    flex: 1; /* take remaining space */
    word-break: break-word;
    line-height: 1.4;
}
pre.log-data {
    background-color: lightgray;
    max-height: 200px;
    overflow: auto; /* only show scrollbars if content overflows */
    display: none;
}
.log-item img.image {
    max-width: 100px;
    display: none;
}
span.log-datetime {
    font-size: 9px;
    white-space: nowrap;
}
.fsm-chart {
    display: inline-block;
    order: 2;
    border: 1px solid black;
    width: 65%;
    max-width: 65%;
    height: auto;
}
.instructions {
    color: red;
}
.tabs-and-panels {
    display: flex;
    flex-direction: column; /* tabs above panels */
    flex: 1;
    min-width: 0;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin-bottom: 5px;
}
.tabs a {
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: aliceblue;
    user-select: none; /* prevents text selection highlight */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* old Edge */
    -webkit-user-drag: none; /* Safari/Chrome: prevents drag ghost */
}
.tab-panel {
    display: none;
    flex: 1;
    min-width: 0;
}
.tab-panel.active {
    display: flex;
    flex-direction: column;
}
.tabs a.active {
    background-color: lightgray;
}
